.main {
    padding: 18px 14px;
  }
  .main h3{
    font-size: 14px;
  }
  header img {
    width: 20%;
  }
  
  header h1 {
    font-size: 14px;
  }
  
  #teacher .information h5 {
    font-size: 13px;
  }
  
  .chois h3 {
    font-size: 13px;
  }